<section class="w-full h-full flex justify-center items-center bg-slate-50" data-role="page-404">
  <div class="flex flex-col gap-8 items-center">
    <img src="./assets/404/imgs/404.svg" alt="404 page" class="max-h-80">
    <p class="text-5xl">Страница не найдена</p>
    <a href=""
       class="max-w-64 flex justify-center items-center px-4 py-4 rounded-lg bg-indigo-500 text-white transition-colors hover:bg-indigo-400 active:bg-indigo-600">
      Вернуться на главную
    </a>
  </div>
</section>