<main class='bg-indigo-300 grow flex flex-col' data-role='dictionary'>
  <section class='w-full mx-auto my-0 p-2 flex grow'>
    <div class='p-4 w-full flex justify-center gap-4 flex-wrap grow rounded-3xl bg-white
               {{colorGroup}}' data-role='dictionary__content'>
    </div>
  </section>
</main>