<main class='min-h-screen bg-indigo-300' data-role='dictionary'>
  <section class='max-w-screen-xl mx-auto my-0 p-2'>
    <div class='py-[15px] w-full flex justify-center gap-4 flex-wrap rounded-3xl bg-[#ffffff]'
      data-role='dictionary__content'>
    </div>
  </section>
</main>