<footer>
  <div class="flex gap-4 justify-between items-center p-5 bg-indigo-500 text-indigo-50">
      <div class="md:mr-12 mr-8">
        2022
      </div>
      <div class="grow flex items-center flex-col md:flex-row md:justify-between">
        <a href="https://github.com/artpotlov" class="hover:border-b-indigo-400 hover:border-b-solid hover:border-b-2">Artemy Potlov</a>
        <a href="https://github.com/tonKristall" class="hover:border-b-indigo-400 hover:border-b-solid hover:border-b-2">Alexander Shustov</a>
        <a href="https://github.com/Slava-Shchipunov" class="hover:border-b-indigo-400 hover:border-b-solid hover:border-b-2">Slava-Shchipunov</a>
      </div>
      <div class="">
        <a href="https://rs.school/js/">
          <img src="./assets/images/svg/rs_school_js.svg" alt="rsschool-logo" class="h-6 w-14">
        </a>
      </div>
    </div>
</footer>