<footer>
  <div class="flex flex-col gap-4 justify-between items-center p-5 bg-gray-700 text-indigo-50 md:flex-row">
    <div class="grow flex items-center flex-col gap-2 md:flex-row md:gap-4">
      <a href="https://github.com/artpotlov" class="transition-colors hover:text-indigo-200">Artem
        Potlov</a>
      <a href="https://github.com/tonKristall" class="transition-colors hover:text-indigo-200">Alexander
        Shustov</a>
      <a href="https://github.com/Slava-Shchipunov"
         class="transition-colors hover:text-indigo-200">Slava Shchipunov</a>
    </div>
    <div>
      <a href="https://rs.school/js/">
        <img src="./assets/images/svg/rs_school_js.svg" alt="rsschool-logo" class="h-6 w-14">
      </a>
    </div>
    <div>
      © 2022
    </div>
  </div>
</footer>