<main class="flex-auto flex flex-col justify-center bg-slate-50">
  <div class="main p-14 flex flex-col gap-8">
    <img src="./assets/images/svg/main.svg" alt="RS Lang" class="block max-h-72">
    <p class="self-center text-gray-700 text-4xl font-medium text-center">
      Окунись в потрясающий мир изучения английского языка!
    </p>
    <div class="w-fit self-center flex gap-4">
      <button data-main="main__btn-about-app"
              class="bg-indigo-500 text-white px-8 py-4 rounded-xl transition-colors hover:bg-indigo-400 active:bg-indigo-600">
        О приложении
      </button>
    </div>
  </div>
</main>


<div id="popup__about-app"
     class="fixed w-full h-full bg-slate-700/60 top-0 left-0 overflow-y-auto translate-y-full transition-transform text-gray-800">
  <div class="min-h-full flex justify-center p-2">
    <div id="about-app__wrapper"
         class="p-10 self-center max-w-[900px] bg-slate-50 p-8 relative rounded-3xl flex flex-col gap-6">
      <h2 class="self-center text-3xl font-medium ">Что такое RSLang?</h2>
      <p class="text-center font-medium">
        Это приложение для изучения иностранных слов,
        включающее электронный учебник с базой слов для изучения,
        мини-игры для их повторения, страницу статистики для
        отслеживания индивидуального прогресса
      </p>
      <div class="flex flex-wrap gap-6 justify-center">
        <div
          class="flex flex-col justify-center w-56 h-[200px] bg-slate-200 p-2 rounded-xl hover:bg-indigo-200 transition-all hover:cursor-pointer">
          <i class="fa-solid fa-brain fa-3x"></i>
          <h3 class="text-lg font-bold text-center">Знания</h3>
          <span class="text-center">Прокачай свой мозг действительно полезными знаниями</span>
        </div>
        <div
          class="flex flex-col justify-center w-56 h-[200px] bg-slate-200 p-2 rounded-xl hover:bg-indigo-200 transition-all hover:cursor-pointer">
          <i class="fa-solid fa-repeat fa-3x"></i>
          <h3 class="text-lg font-bold text-center">Интервальное повторение</h3>
          <span class="text-center">Мощная техника для запоминания слов</span>
        </div>
        <div
          class="flex flex-col justify-center w-56 h-[200px] bg-slate-200 p-2 rounded-xl hover:bg-indigo-200 transition-all hover:cursor-pointer">
          <i class="fa-solid fa-graduation-cap fa-3x"></i>
          <h3 class="text-lg font-bold text-center">Уровни сложности</h3>
          <span class="text-center">Слова разделены на 6 разделов по уровню сложности</span>
        </div>
        <div
          class="flex flex-col justify-center w-56 h-[200px] bg-slate-200 p-2 rounded-xl hover:bg-indigo-200 transition-all hover:cursor-pointer">
          <i class="fa-solid fa-headphones fa-3x"></i>
          <h3 class="text-lg font-bold text-center">Игра Аудиовызов</h3>
          <span class="text-center">Поможет улучшить восприятие речи на слух</span>
        </div>
        <div
          class="flex flex-col justify-center w-56 h-[200px] bg-slate-200 p-2 rounded-xl hover:bg-indigo-200 transition-all hover:cursor-pointer">
          <i class="fa-solid fa-stopwatch fa-3x"></i>
          <h3 class="text-lg font-bold text-center">Игра Спринт</h3>
          <span class="text-center">Доведёт знание слов до совершенства</span>
        </div>
        <div
          class="flex flex-col justify-center w-56 h-[200px] bg-slate-200 p-2 rounded-xl hover:bg-indigo-200 transition-all hover:cursor-pointer">
          <i class="fa-solid fa-chart-line fa-3x"></i>
          <h3 class="text-lg font-bold text-center">Статистика</h3>
          <span class="text-center">Отслеживай свой прогресс в реальном времени</span>
        </div>
      </div>
    </div>
  </div>
</div>