<main class="flex-auto flex flex-col justify-center bg-slate-50">
  <div class="flex flex-wrap gap-6 justify-center">
    <a href="#audio" data-mini-games="audio"
       class="button flex flex-col gap-6 justify-center w-56 h-[200px] bg-slate-200 p-2 rounded-xl hover:bg-indigo-50 transition-all hover:cursor-pointer text-gray-700">
      <i class="fa-solid fa-headphones fa-3x self-center"></i>
      <h3 class="text-lg font-bold text-center self-center">Игра Аудиовызов</h3>
    </a>
    <a href="#sprint-game" data-mini-games="sprint"
       class="button flex flex-col gap-6 justify-center w-56 h-[200px] bg-slate-200 p-2 rounded-xl hover:bg-indigo-50 transition-all hover:cursor-pointer text-gray-700">
      <i class="fa-solid fa-stopwatch fa-3x self-center"></i>
      <h3 class="text-lg font-bold text-center self-center">Игра Спринт</h3>
    </a>
  </div>
</main>