<div class="flex flex-auto flex-col bg-indigo-100 p-8 gap-4">
  <h2 class="self-center font-bold text-4xl text-slate-700">Наша команда</h2>
  <div class="self-center flex flex-wrap gap-4">
    <div class="flex flex-col gap-4 w-80 p-4 bg-slate-50 rounded-md shadow-xl hover:bg-indigo-50">
      <img class="self-center rounded-full" src="../../assets/images/team/avatar.jpg" alt="photo">
      <h3 class="self-center font-semibold text-xl">Артемий Потлов</h3>
      <div class="self-center text-indigo-500">
        <i class="fa-brands fa-square-github"></i>
        <a href="https://github.com/artpotlov">artpotlov</a>
      </div>
      <span class="self-center">Тим-лид, разработчик</span>
      <ol class="self-center list-decimal">
        <li>Вклад</li>
        <li>Вклад</li>
        <li>Вклад</li>
      </ol>
    </div>
    <div class="flex flex-col gap-4 w-80 p-4 bg-slate-50 rounded-md shadow-xl hover:bg-indigo-50">
      <img class="self-center rounded-full" src="../../assets/images/team/avatar.jpg" alt="">
      <h3 class="self-center font-semibold text-xl">Александр Шустов</h3>
      <div class="self-center text-indigo-500">
        <i class="fa-brands fa-square-github"></i>
        <a href="https://github.com/tonKristall">tonKristall</a>
      </div>
      <span class="self-center">Разработчик</span>
      <ol class="self-center list-decimal">
        <li>Вклад</li>
        <li>Вклад</li>
        <li>Вклад</li>
      </ol>
    </div>
    <div class="flex flex-col gap-4 w-80 p-4 bg-slate-50 rounded-md shadow-xl hover:bg-indigo-50">
      <img class="self-center rounded-full" src="../../assets/images/team/avatar.jpg" alt="">
      <h3 class="self-center font-semibold text-xl">Святослав Щипунов</h3>
      <div class="self-center text-indigo-500">
        <i class="fa-brands fa-square-github"></i>
        <a href="https://github.com/Slava-Shchipunov">Slava-Shchipunov</a>
      </div>
      <span class="self-center">Разработчик</span>
      <ol class="self-center list-decimal">
        <li>Вклад</li>
        <li>Вклад</li>
        <li>Вклад</li>
      </ol>
    </div>
  </div>
</div>