<div class="flex flex-auto flex-col bg-indigo-50 p-8 gap-4">
  <h2 class="self-center font-bold text-4xl text-slate-700">Наша команда</h2>
  <div class="self-center flex flex-wrap gap-4">
    <div class="flex flex-col gap-4 w-80 p-4 bg-white rounded-md shadow-xl">
      <img class="self-center" src="./assets/images/team/artpotlov.svg" alt="photo">
      <h3 class="self-center font-semibold text-xl">Артем Потлов</h3>
      <div class="self-center text-indigo-500">
        <i class="fa-brands fa-square-github"></i>
        <a href="https://github.com/artpotlov">artpotlov</a>
      </div>
      <span class="self-center">Тим-лид, разработчик</span>
      <ul class="self-center list-disc">
        <li>Страница авторизации</li>
        <li>Игра «Спринт»</li>
        <li>Статистика</li>
        <li>API</li>
      </ul>
    </div>
    <div class="flex flex-col gap-4 w-80 p-4 bg-white rounded-md shadow-xl">
      <img class="self-center" src="./assets/images/team/tonKristall.svg" alt="">
      <h3 class="self-center font-semibold text-xl">Александр Шустов</h3>
      <div class="self-center text-indigo-500">
        <i class="fa-brands fa-square-github"></i>
        <a href="https://github.com/tonKristall">tonKristall</a>
      </div>
      <span class="self-center">Разработчик</span>
      <ul class="self-center list-disc">
        <li>Электронный учебник</li>
        <li>Слова</li>
        <li>Статистика</li>
        <li>API</li>
      </ul>
    </div>
    <div class="flex flex-col gap-4 w-80 p-4 bg-white rounded-md shadow-xl">
      <img class="self-center rounded-full" src="./assets/images/team/slava.svg" alt="">
      <h3 class="self-center font-semibold text-xl">Святослав Щипунов</h3>
      <div class="self-center text-indigo-500">
        <i class="fa-brands fa-square-github"></i>
        <a href="https://github.com/Slava-Shchipunov">Slava-Shchipunov</a>
      </div>
      <span class="self-center">Разработчик</span>
      <ul class="self-center list-disc">
        <li>Главная страница</li>
        <li>Страница «О команде»</li>
        <li>Игра «Аудиовызов»</li>
        <li>API</li>
      </ul>
    </div>
  </div>
</div>