<div class="flex gap-4 items-center p-4 bg-white border rounded-lg">
  <i class="w-10 h-10 animate-spin text-blue-500 fa-solid fa-spinner"></i>
  {{#if processText}}
  <span>{{processText}}</span>
  {{else}}
  <span>Загрузка</span>
  {{/if}}
</div>