<main class="flex flex-col bg-slate-50 text-gray-700 grow" data-role="statistics">
  <section class="w-full mx-auto p-2">
    <div class="bg-white px-2 py-3 flex justify-end items-center border-t border-gray-200 p-2 sm:px-6 rounded-md">
      <div class="flex gap-4" data-role="statistics__toggle">
        <button type="button" data-role="statistics__short-button"
          class="bg-white px-3 py-2 rounded-md text-sm font-medium shadow-[inset_0_0_15px_0_rgba(0,0,0,0.3)]">Статистика
          за день</button>
        <button type="button" data-role="statistics__long-button"
          class="bg-white px-3 py-2 rounded-md text-sm font-medium shadow-[inset_0_0_15px_0_rgba(0,0,0,0.3)]">
          Статистика за весь период</button>
      </div>
    </div>
  </section>
  <section class="w-full mx-auto px-2 pb-2 grow" data-role="statistics__content"></section>
</main>