<div class="w-full bg-white px-2 py-3 mt-2 flex flex-col gap-6 items-center border-t border-gray-200 p-2 rounded-md">
  <h2 class="text-xl">За все дни</h2>
  <div class="w-full max-w-[600px]">
    <canvas width="100%" height="50%" aria-label="Hello ARIA World" role="img" data-role="statistics-long__new-words">
      <p>Hello Fallback World</p>
    </canvas>
  </div>
  <div class="w-full max-w-[600px]">
    <canvas width="100%" height="50%" aria-label="Hello ARIA World" role="img"
      data-role="statistics-long__learned-words">
      <p>Hello Fallback World</p>
    </canvas>
  </div>
</div>