<div class="game__about place-self-center flex flex-col gap-4">
  <h2 class="w-fit self-center">Аудиовызов</h2>
  <span>"Аудиовызов" - это игра, которая помогает пракачать восприятие речи на слух</span>
  <ul class="list-disc list-inside">
    <li>Для выбора ответа используйте мышь или клавиши 1 - 5</li>
    <li>Для повторного воспроизведения слова используйте пробел</li>
    <li>Для перехода к следующему слову используйте Enter</li>
  </ul>
  <div class="flex gap-4 self-center">
    <fieldset class="fieldset border-2 border-slate-400 border-solid rounded-md px-4 self-end cursor-pointer hover:bg-blue-700">
      <legend>Сложность</legend>
      <select name="game-difficulty" class="border-none bg-blue-900 text-indigo-50 cursor-pointer hover:bg-blue-700">
        <option value="0">1</option>
        <option value="1">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
        <option value="4">5</option>
        <option value="5">6</option>
      </select>
    </fieldset>
    <button data-game="start-game" class="border-2 border-slate-400 border-solid rounded-md p-3.5 self-end hover:bg-blue-700">СТАРТ</button>
  </div>
  {{#unless isAuth}}
    <p><a href="#auth" class="text-blue-500 transition-colors hover:text-blue-400">Войти или зарегистрироваться</a>,
      чтобы сохранить результаты игры</p>
  {{/unless}}
</div>